@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body
{
    font-family: "Open Sans",sans-serif;
    background-image: url("../media/death-standing-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
/*-------------header-----------*/
header
{
    background-image: url("../media/death-stranding-cover1.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
}
header nav
{
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 10px 10px 10px;

}
header nav ul li
{
    display: inline;
    white-space: nowrap;
}
header nav a
{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1.5em;
    margin-right: 1em;
}
nav#gyengenlato {
    position:absolute;
    width:20%;
    top: 10px;
    right: 28px;
    color: red;
}
a#normalbetu {display: none}
/*------------main------------*/
main nav
{
    font-variant: small-caps;
    text-align: left;
    margin-bottom: 20px;
}
main aside nav
{
    background-color: white;
    padding: 10px;
    margin: 0 10px 10px 20px;
    font-size: 24px;
}
main aside nav a
{
    color: black;
    text-decoration: none;

}
a[href="#fomenu"]
{
    text-decoration: none;
}

.rejtett {position:absolute; left:-9999px;}

h1,h2,h3
{
    text-shadow: 3px 3px 3px #ccc;
}
p
{
    text-align: justify;
}
section
{
    border-top: 1px solid #ccc;
    padding: 20px;
}
main article:not(#forras)
{

    column-width: 150px;
    -webkit-column-width: 400px;
    -moz-column-width: 400px;
}
main,footer
{
    width: 70%;
    min-width: 400px;
    max-width: 2000px;
    margin: 0 auto;
}
article#osszefoglalo
{
    border-top: 1px solid #ccc;
    padding: 20px;
}
article#forras
{
    border-top: 1px solid #ccc;
    padding: 20px;
}
/*------------footer------------*/
footer address
{
    text-align: center;
}
